<?xml version="1.0" encoding="utf-8"?>
<Content Key="51a3ee9e-9d93-4e56-91b3-fdf76a1dd736" Alias="Article3" Level="3">
  <Info>
    <Parent Key="f93f9403-20dc-4bd5-b50a-601ff5bba136">Articles</Parent>
    <Path>/HomeA/Articles/Article3</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <NodeName Default="Article3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14ddfebd-e24a-4aac-817b-1d6318e22851">Article</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[["Article1"]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Article1]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Article1]]></Value>
    </seoMetaDescription>
    <text>
      <Value><![CDATA[<p>Article1</p>]]></Value>
    </text>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>