<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f0b7052-d854-43b5-bb7c-6c82af4d96d1" Alias="Jeavon Leopold" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/JeavonLeopold</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <NodeName Default="Jeavon Leopold" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="beaa83e6-f6d3-4b0a-9946-7cb6a5a41985">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[United Kingdom,mvp]]></Value>
    </department>
    <email>
      <Value></Value>
    </email>
    <facebookUsername>
      <Value></Value>
    </facebookUsername>
    <instagramUsername>
      <Value></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[umb://media/c0969cab13ab4de9819a848619ac2b5d]]></Value>
    </photo>
    <seoMetaDescription>
      <Value></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>