<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="609a0496-031e-4bb8-adfd-70223776d28d" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="14ddfebd-e24a-4aac-817b-1d6318e22851">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>345a6894-76a0-491c-82d1-65a56eccbdd2</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>