<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4455193-6fc9-492c-ad1a-244b91f8e531" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bbfe4576-3d59-42f2-9157-0d86eb177b48">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00029bde-78d0-4637-918f-a9236d3e761d">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9f70efb5-5109-4b35-a636-7b3ec49f4b5d</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>60b582e0-aeb5-4908-990f-a97d290db824</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>howManyPostsShouldBeShown</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>