<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10008073-8997-47f2-b564-76b3a7acd440" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dc95f3b8-22a6-4c9b-84f9-1f0da7e8e5c0">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="10008073-8997-47f2-b564-76b3a7acd440">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>