<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c87ae9f8-bb6d-4691-8ad8-4dbceea1e3ab" Alias="homeA" Level="1">
  <Info>
    <Name>Home A</Name>
    <Icon>icon-home color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>HomeA</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8deaf308-c5a6-4a3d-aa1b-dcf8be9d65cd">HomeA</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8e489deb-d726-4d50-b9f0-eabbb3fbd498">articles</ContentType>
    <ContentType Key="703591c3-72ec-4951-842a-6c56117e553e">searchResults</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c5cd137-46dd-46e4-ad66-eff2ad5660e4</Key>
      <Name>Carusella</Name>
      <Alias>carusella</Alias>
      <Definition>05cf901b-2668-492c-865f-a824a3aa0c29</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>