<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83476149-a7ef-4daa-8b24-55f015b088c1" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3e91599d-9057-4b72-8d7b-053044ff3e16">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a540f718-cbfa-4651-bfb8-365e2ae2655c">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>574ebbd0-97af-4df3-a682-b6c4b99765df</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>