<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32fd0548-e158-4791-97c7-8c87591e8f66" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="253adb20-d4a4-4dc3-a1fe-e70598a23ff8">contentBase</Composition>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8eb6d152-17f5-47c2-b461-93e45325bd5e">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2f499268-eb3d-4999-8ebc-21e0587311c8">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>49c0200c-eb51-4ca5-bad7-40c4addb5a7d</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97cd2f32-db0e-4a04-818c-6c54163c685c</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>