<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="703591c3-72ec-4951-842a-6c56117e553e" Alias="searchResults" Level="1">
  <Info>
    <Name>Search Results</Name>
    <Icon>icon-umb-translation color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a91364e6-a1a8-4a2b-8f33-afb931152014">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>SearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d39922b2-e811-4451-8ccd-4cac244dc0d6">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>