<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05cf901b-2668-492c-865f-a824a3aa0c29" Alias="Carusella Nested Content" Level="1">
  <Info>
    <Name>Carusella Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "carusella",
      "ncTabAlias": "Content",
      "nameTemplate": "{{$index}} - {{altText}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>